# CentOS VDO Packages from Stream Repository
# https://bugs.centos.org/view.php?id=17928

[baseos-vdo]
name=CentOS Linux $releasever - VDO from Stream directly
baseurl=http://mirror.centos.org/$contentdir/8-stream/BaseOS/$basearch/os/
gpgcheck=1
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-centosofficial
includepkgs=vdo*,kmod-kvdo*
